h1, h2, h3, h4, h5, h6 {
    font-family: "Volkhov", serif;
}

p {
    font-family: Gabarito, sans-serif;
}

#hero-banner {
    background-image: url('https://images.unsplash.com/photo-1607619784547-07ac0be98721?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 1); /* You can adjust the background color for the rest of the page */
    color: #387464;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 40px;
}

#ChristmasCountdown {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center-align the content vertically */
    align-items: center; /* Center-align the content horizontally */
    text-align: center; /* Horizontally center inline elements */
    align-items: center; /* Vertically center block-level elements */
    margin-bottom: 40px;
    color: #C30F16;
}

#hero-banner p {
    font-size: 25px; 
}

#countdown {
    font-size: 60px;
    font-family: "Volkhov", serif;
    font-weight: bold;
    margin-top: -5px;
}

#searchResults {
    font-family: Gabarito, sans-serif;
}

#searchInput {
    background: #F2F2F2;
    color: grey;
    border: #387464 2px solid;
    padding: 6px 30px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    width: 350px;
    font-family: Gabarito, sans-serif;
    text-align: center;
}

.sidebar {
    width: 22%;
    background-color: #F2F2F2;
    color: #000;
    padding: 20px;
    float: left;
    min-height: 100vh;
}

.sidebar h2 {
    color: #C30F16;
    font-family: 'Volkhov', serif;
    font-style: bold;
    font-size: 24px;
    margin-bottom: 40px;
    cursor: pointer; /* Add cursor style to h2 */
}

.sidebar h3 {
    color: #387464;
    font-family: 'Volkhov', serif;
    font-style: bold;
    font-size: 16px;
    cursor: pointer; /* Add cursor style to h3 */
}

.sidebar-button {
    background-color: #387464;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Add cursor style to .sidebar-button */
    transition: background-color 0.3s;
}

.sidebar-button:hover {
    background-color: #C30F16;
}

.sidebar p {
    color: #2D2C2C;
    font-family: 'Gabarito', sans-serif;
    font-style: normal;
    font-size: 12px;
    margin-bottom: 40px;
}


    /* CSS for the table setting section */
}
.table-setting-promo {
    text-align: center;
    margin-left: 22%; 
    background-color: #ffffff; 
    padding: 20px;

}

.table-setting-promo {
    text-align: center;
    margin-left: 22%;
    background-color: #ffffff;
    padding: 20px;
}

.table-setting-promo h2 {
    color: #387464;
    font-size: 30px;
    font-weight: bold;
    margin: 10px auto;
    text-align: center; /* Ensure text is centered */
    max-width: 51%;
    margin-bottom: 20px;
}

.table-setting-promo p {
    color: #2D2C2C;
    font-size: 16px;
    margin: 10px auto;
    text-align: center; /* Ensure text is centered */
    max-width: 50%;
}


.table-setting-promo img {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
    margin-top: 20px; 
    margin-bottom: 20px; 
}


.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.image-container button {
    margin-top: 10px; /* Add space between the image and the button */
}

.promo-button {
    background-color: #387464;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    transition: background-color 0.3s; 
}

.promo-button:hover {
    background-color: #C30F16;
}

    

/* CSS for the product section */

.product-section {
    text-align: center;
    margin-left: 22%; 
    padding: 60px;
    margin-top: 20px; 
    background-color: #e9deab; 
}

.header-container {
    display: flex;
    align-items: center;
}

.product-header {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 40px;
    color: #387464;
}


.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.product-item {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 65px;
    text-align: left;
    transition: background-color 0.3s;
    max-width: 400px; 
    margin: 0 auto; 
}

.product-item:hover {
    background-color: #387464;
}

.product-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover; 
}

.product-description {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    margin-top: 10px;
}

/* CSS for the button in product description */

.add-to-basket {
    background-color: #C30F16;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-to-basket:hover {
    background-color: #387464;
    color: #fff;
}

/* CSS for the forum container and forum section */

.forum-container {
    background-color: #387464;
    border: 3px solid #C30F16;
    width: 100%; 
    color: #fff;
    text-align: center;
    min-height: 20vh; 
    position: relative;
    margin-top: 80px;
}

.forum-container h2 {
    color: #fff;
    font-family:'Volkhov', serif;
    font-style: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.forum {
    background-color: #fff;
    border: #387464 2px solid;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto; /* Center-align the forum content */


 

.post-form {
    margin: 20px 0; 
}

.post-form h3 {
    margin: 0 auto 20px; 
}

.post-content {
    color: #387464; 
    font-weight: bold; 
    font-size: 14px; 
}

#postForm {
    text-align: center; /
}

#username,
#postContent {
    display: block;
    margin: 10px auto; 
}

#postForm button[type="submit"] {
    display: block;
    margin: 20px auto 20px; 
    background-color: #387464;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#postForm button[type="submit"]:hover {
    background-color: #C30F16;
}

.post-info {
    margin-bottom: 10px; /* Reduce the space between post-info and post-content */
}
.post-info h3 {
    color: #C30F16; 
    font-weight: bold; 
    font-size: 20px; 
    margin: 10px 0; /* Adjust top and bottom margins */
}
}
.posts p {
    font-family: Gabarito, sans-serif;
    font-size: 16px; 
    color: #333; 
    margin: 0; 
    padding: 10px 0;
}

.post-date {
    font-family: Gabarito, sans-serif;
    font-size: 16px; 
    color: #333; 
    margin: 0px; 
    padding: 0px 0;
    height: 5px;
}

.post-content {
    color: #387464;
    background-color: #e9deab;
    font-weight: bold;
    font-size: 24px;
    padding: 50px;
    height: 8px;
    

    width: 62.5%;
    cursor: pointer; 
}