h1, h2, h3, h4, h5, h6 {
    font-family: "Volkhov", serif;
}

p {
    font-family: Gabarito, sans-serif;
}

#hero-banner {
    position: relative;
    background-image: url('Images/davies-designs-studio-PvGt65_l0FU-unsplash.jpg');
    background-size: cover; /* Adjust as needed to control image sizing */
    background-position: center; /* Center the image within the element */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center-align the content vertically */
    align-items: center; /* Center-align the content horizontally */
    height: 100vh; /* Set the height to 100% of the viewport height for vertical centering */
    color: white;
}

#hero-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
}

#hero-banner h1, #hero-banner p, #countdown {
    position: relative; /* Ensure the text elements are in the normal document flow */
    z-index: 1; /* Place the text elements above the overlay */
}

#hero-banner h1 {
    font-size: 80px; 
    text-align: center;
    margin-bottom: 40px;
}

#hero-banner p {
    font-size: 25px; 
}

#ChristmasCountdown {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center-align the content vertically */
    align-items: center; /* Center-align the content horizontally */
    text-align: center; /* Horizontally center inline elements */
    align-items: center; /* Vertically center block-level elements */
    margin-bottom: 40px;
}

#countdown {
    font-size: 60px;
    font-family: "Volkhov", serif;
    font-weight: bold;
    margin-top: -5px;
}

#searchInput {
    background: white; /* Set the background color */
    color: white; /* Set the text color */
    border: 2px solid #ffffff; /* Specify the border width and color */
    border-radius: 5px; /* Add rounded corners for a nicer look */
    padding: 6px 30px; /* Adjust padding as needed for size */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 16px; /* Set the font size */
    width: 100%;
    font-family: Gabarito, sans-serif;
    text-align: center;
 
}

#searchResults {
    font-family: Gabarito, sans-serif;
}
