h1, h2, h3, h4, h5, h6 {
    font-family: "Volkhov", serif;
}

p {
    font-family: Gabarito, sans-serif;
}

#hero-banner {
    background-image: url('Images/davies-designs-studio-PvGt65_l0FU-unsplash.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center-align the content vertically */
    align-items: center; /* Center-align the content horizontally */
    height: 100vh; /* Set the height to 100% of the viewport height for vertical centering */
}

#hero-banner h1 {
    font-size: 80px; 
    text-align: center;
    margin-bottom: 40px;
}

#ChristmasCountdown {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center-align the content vertically */
    align-items: center; /* Center-align the content horizontally */
    text-align: center; /* Horizontally center inline elements */
    align-items: center; /* Vertically center block-level elements */
    margin-bottom: 40px;
}

#hero-banner p {
    font-size: 25px; 
}

#countdown {
    font-size: 60px;
    font-family: "Volkhov", serif;
    font-weight: bold;
    margin-top: -5px;
}

#searchInput {
    background: none; /* Set the background color */
    color: grey; /* Set the text color */
    border: grey 2px solid;
    padding: 6px 30px; /* Adjust padding as needed for size */
    border-radius: 20px; /* Add rounded corners */
    cursor: pointer; /* Add a pointer cursor on hover */
    font-size: 16px; /* Set the font size */
    width: 350px;
    font-family: Gabarito, sans-serif;
    text-align: center;
}

#searchResults {
    font-family: Gabarito, sans-serif;
}